# Сгенерированные файлы Dart
.dart_tool/
.packages
.pub-cache/
.pub/

# Файл зависимостей (для библиотек его обычно НЕ коммитят, 
# чтобы пользователи сами подтягивали актуальные версии)
pubspec.lock

# Папка сборки (build)
build/

# IDE настройки (скрытые папки VS Code, IntelliJ и т.д.)
.vscode/
.idea/
*.iml

# Файлы ОС
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
*.tmp